@tailwind base;
@tailwind components;
@tailwind utilities;

.light ::selection {
  background-color: #282828;
  color: #ebdbb2;
}

.dark ::selection {
  background-color: #ebdbb2;
  color: #282828;
}

.light {
  --background: 43, 59%, 81%;
  --foreground: 0, 0%, 16%;
}

.dark {
  --background: 0, 0%, 16%;
  --foreground: 43, 59%, 81%;
}

html {
  min-width: 360px;
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-medium tracking-tight !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.profile-pic-circle {
  @apply pointer-events-none absolute size-[151px] rounded-full border border-background transition-all ease-linear;
}

.nondraggable {
  -webkit-user-drag: none;
}
