@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 53, 74%, 91%;
  --foreground: 195, 6%, 12%;
  --background-alt: 53, 74%, 86%;
  --sh-jsxliterals: #1d2021;
  --sh-identifier: #1d2021;
  --sh-class: #b57614;
  --sh-sign: #d3869b;
  --sh-string: #79740e;
  --sh-keyword: #cc241d;
  --sh-comment: #928374;
  --sh-property: #427b58;
  --sh-entity: #af3a03;
}

.dark {
  --background: 195, 6%, 12%;
  --foreground: 53, 74%, 91%;
  --background-alt: 195, 6%, 16%;
  --sh-jsxliterals: #ebdbb2;
  --sh-identifier: #ebdbb2;
  --sh-class: #fabd2f;
  --sh-sign: #d3869b;
  --sh-string: #b8bb26;
  --sh-keyword: #fb4934;
  --sh-comment: #928374;
  --sh-property: #8ec07c;
  --sh-entity: #fe8019;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: hsl(var(--foreground));
  color: hsl(var(--background));
}

html {
  min-width: 360px;
  scrollbar-gutter: stable;
}

body {
  text-rendering: optimizeLegibility;
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-medium tracking-tight !important;
}

nav::after {
  content: "";
  margin-top: 1.8rem;
  /* display: block; */
  border-top: 1px solid hsl(var(--background-alt));
  border-bottom: 1px solid hsl(var(--background-alt));
  border-radius: 4px;
}

pre {
  border: 1px solid;
  border-radius: 0.5rem;
  overflow-x: auto;
  padding: 1rem;
  margin: 1.5rem 0;
  line-height: 1;
  border: 1px solid hsl(var(--foreground)) !important;
  background-color: hsl(var(--background-alt)) !important;
}

.noscrollbar ::-webkit-scrollbar {
  display: none;
}

pre::-webkit-scrollbar {
  display: none;
}

pre,
.noscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre {
  border-color: hsl(var(--background-alt)) !important;
}

pre code {
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 1rem !important;
  line-height: 1.5;
}

pre code > span .sh__token--identifier {
  color: #cc241d !important;
}

code > span .sh__token--identifier {
  font-weight: 200 !important;
  font-size: inherit;
}

code {
  font-size: calc(100% - 1px) !important;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  background-color: hsl(var(--background-alt));
}

h3 code {
  font-size: calc(100% - 4px) !important;
}

code::before,
code::after {
  content: "" !important;
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

hr {
  border-color: hal(var(--foreground)) !important;
}

.profile-pic-circle {
  @apply pointer-events-none absolute size-[151px] rounded-full border border-background transition-all ease-linear;
  position: absolute;
  will-change: transform;
}

.nondraggable {
  -webkit-user-drag: none;
}
